@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
html{
    height: 100%;
    margin:0;
    padding: 0;
}
body{
    background-color: black;
    font-family: 'Montserrat', sans-serif;
    height: 100%;
    overflow-x: hidden;
}
section{
    min-height: calc(100vh - 211px - 58px);
}
.modal-content{
    background-color: #191919;
    color:white;
    width:100%;
}

.card{
    color: white;
    border-radius: 10px;
    margin:20px;
    padding: 20px;
    background-color: #191919;
    transition: all .5s ease;

}
.card:hover{  
    transform: translateY(-15px);
}
.card-text{
    font-size: 0.8em;
}


.card-body{
    padding: 20px;
    padding-bottom: 0;
}
p{
    margin-top: 0;
    margin-bottom: 1px;
}

.card-title{
    font-size: 20px;
    margin-bottom: 5px;
}
.btn-primary{
    border:1px solid#83e8f9;
    background-color: transparent;
    color:#83e8f9;
}

a{
    color: white;
}
.navbar-brand img{
    height: 120px;
    width: 120px;
}
.navbar-brand:after{
    content:"";
    display: block;
    border-top:1px solid #4b4bb9;
    border-bottom:1px solid #4b4bb9;
    height:5px;
    width:120px;
    position: absolute;
    top:8%;
    right:38%;
}
.navbar-brand:before{
    content:"";
    display: block;
    border-top:1px solid #4b4bb9;
    border-bottom:1px solid #4b4bb9;
    height:5px;
    width:120px;
    position: absolute;
    top:8%;
    left:37%;
}
.fa {
    padding: 20px;
    font-size: 30px;
    width: 70px;
    height: 70px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
  }
  
  .fa:hover {
      opacity: 0.7;
  }
  .fa-linkedin {
    background: #007bb5;
    color: white;
  }
  .fa-youtube {
    background: #bb0000;
    color: white;
  }

  .fa-whatsapp{
      background: #4AC959;
      color: white;
  }
  /* footer{
     background-color:#2a2d32;
  } */
  footer li{
    margin:10px 20px;
    display: inline-block;
    font-size: 2em;
    color:white;
  }
  .social-media-handlers{
    /* text-align: right; */
    padding:20px;
  }
    h2{
        font-size: 1.5em;
        font-weight: 400;
        color:white;
    }
  .fab{
    color:transparent;
    -webkit-background-clip: text;
    background-clip: text;
    transition: all .3s ease;
   
   }
   .fab:hover{
    transform: translateY(-5px);
    }
    .fa-instagram{
        background-image: 
         linear-gradient(45deg,
         #405de6,
         #5851db,
         #833AB4,
         #C13584,
         #e1306c,
         #fd1d1d);
    }
  .display-4{
      text-align: center;
      color: white;
      text-shadow: 4px 3px 2px rgba(145, 138, 150, 0.56);
    
  }

@media (min-width: 400px) and (max-width: 767px) {

    .navbar-brand:after{
        top:7%;
        right:6%;
    }
    .navbar-brand:before{
        top:7%;
        left:4%;
    }
  }
  @media (min-width: 768px) and (max-width: 1024px) {
    
    .navbar-brand:after{
        top:6%;
        right:25%;
    }
    .navbar-brand:before{
       
        top:6%;
        left:24%;
    }
  }
  @media (min-width: 321px) and (max-width: 400px) {

    .navbar-brand:after{
        top:8%;
        right:1%;
    }
    .navbar-brand:before{
        top:8%;
        left:0.02%;
    }
  }
  
  @media (max-width: 320px) {

    .navbar-brand:after{
        top:8%;
        right:-5%;
    }
    .navbar-brand:before{
        top:8%;
        left:-6.5%;
    }
  }
  ul{
      font-size: 13px;
  }
  h4{
      text-align:center;
  }
  .date{
      text-align: center;
      margin-bottom: 5px;
      font-size: 14px;
  }
